/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #EBD0A4;
  color: #f0f0f0;
  line-height: 1.6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Cabeçalho */
header {
  background-color:#8B0000;
  padding: 20px;
  text-align: center;
  border-bottom: 5px;
}

header img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

header h1 {
  font-size: 2em;
  color: #EBD0A4;
}

/* Seção de Cadastro */
section {
  background-color: #8B0000;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

section h2 {
  font-size: 1.2em;
  color: #EBD0A4;
  line-height: 2;
}

/*Rodapé*/
footer {
  background-color: #8B0000;
  color: #EBD0A4;
  text-align: center;
  margin-top: auto; 
  padding: 20px;
  font-size: 0.9em;
  border-top: 1px;
}

      

/* Responsividade */
@media (max-width: 600px) {
  header h1 {
      font-size: 1.5em;
  }

  section {
      padding: 15px;
  }

  section h2 {
      font-size: 1em;
  }
         }


        
